NODE_ENV=production
SOCIAL_SERVICE_PORT=3004
SOCIAL_DATABASE_URL=postgresql://social_admin:social_password@localhost:5435/social_db?schema=public
REDIS_URL=redis://:redis_password@redis:6379
MEDIA_SERVICE_URL=http://localhost:3003/api/v1
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
